[Unit]
Description=My Gin Vegan Map API Server
After=syslog.target

[Service]
User=root
Restart=always
RestartSec=3
ExecStart=<YOUR_PATH>/start-gin-vegan-map-api-service.sh

[Install]
WantedBy=multi-user.target

